<div class="row" id="show-box">
  <div class="col-md-6 col-md-offset-3">
    <div class="box">
      	<div class="panel panel-default">
      		<div class="panel-body">
      			<h1>User List</h1>
				<% @users.each do |user| %> 
					<p><h2><%= user.username %></h2></p>
					<p><%= user.email %></p>
					 <p>Is Admin?: <%= user.admin %></p>
			          <!--<%= link_to 'Edit', edit_user_registration_path(user), class: "btn btn-info" %>-->

				<% end %>
				<!-- <%= render 'form' %> -->
      		</div>
		</div>
    </div>
  </div>
</div>
