<p id="notice"><%= notice %></p>

<div class="transitions-enabled" id="restaurants">
  <% @restaurants.each do |restaurant| %> 
    <div class="box panel panel-default">
      <% if restaurant.imageURL.present? %>
        <%= link_to (image_tag restaurant.imageURL , width: '100%'), restaurant %>
      <% elsif restaurant.image.present? %>
        <%= link_to (image_tag restaurant.image.url(:small) , width: '100%'), restaurant %>
      <% else %>
        <%= link_to restaurant.name, restaurant %>
      <% end %>
        <h2>
          <%= link_to restaurant.name, restaurant %>
        </h2>   
        <h4 class="detail">
          <%= restaurant.phone1 %>
          <% if restaurant.phone2.present? %>              
            <%= restaurant.phone2 %>
          <% end %>            
        </h4>  

      <div class="btn-group">
        <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-info" %>
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
