<div class="transitions-enabled" id="restaurants">
  <% @restaurants.each do |restaurant| %> 
    <div class="box panel panel-default">
      <% if restaurant.imageURL.present? %>
        <%= link_to (image_tag restaurant.imageURL , width: '100%'), restaurant %>
      <% elsif restaurant.image.present? %>
        <%= link_to (image_tag restaurant.image.url(:small) , width: '100%'), restaurant %>
      <% else %>
        <%= link_to restaurant.name, restaurant %>
      <% end %>
        <h2 style='font-size:18px;'>
          <%= link_to truncate(restaurant.name, length: 10), restaurant %>
        </h2>   
        <h4 class="detail">
          <% if restaurant.phone1.present? %>              
            <p><%= restaurant.phone1 %></p>
          <% else %>
            <p>電話未提供</p>
          <% end %>       
          
          <!-- <% if restaurant.phone2.present? %>              
            <p><%= restaurant.phone2 %></p>
          <% end %> -->
        <h4 style='text-align:right;margin:10px;'>
          <%= pluralize(restaurant.get_likes.size, "") %>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
          <%= restaurant.comments.count %>
          <i class="fa fa-commenting-o" aria-hidden="true"></i>    
        </h4>                     
        </h4>

        <h4 class="detail btn-group">
          <%= link_to "讚", like_restaurant_path(restaurant), method: :get,class: "fa fa-thumbs-o-up btn btn-default" %>
          <%= link_to "收回讚", dislike_restaurant_path(restaurant), method: :get,class:"fa fa-thumbs-o-down btn btn-default" %>                       
        </h4> 

        <% if user_signed_in? %>
            <% if current_user.admin == true %>         
                <div class="dropdown">
                  <div id="menu1" data-toggle="dropdown">
                    <a href="#" style="background:white;"><li class="fa fa-sort-desc fa-2x" aria-hidden="true"></li></a>
                  </div>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li>
                      <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
                  </li>
                    <li>
                      <%= link_to  "Delete", restaurant, method: :delete, data: { confirm: "Are you sure?" } %>
                    </li>          
                  </ul> 
                </div> 
            <% end %>
        <% end %>                            
    </div>
  <% end %>
</div>



