%p#notice= notice

#show-box.row
    .col-md-6.col-md-offset-3
        .box
            .panel.panel-default
                - if @restaurant.imageURL.present?
                    = link_to (image_tag @restaurant.imageURL , width: '100%'), @restaurant
                - elsif @restaurant.image.present?
                    = link_to (image_tag @restaurant.image.url(:small) , width: '100%'), @restaurant
                - else
                    = link_to @restaurant.name, @restaurant
            .panel-body
                %h1= @restaurant.name
                .detail
                    %p= @restaurant.address
                    %p= @restaurant.phone1
            .btn-group
                %button.btn.btn-info{:type => "button"}= link_to 'Edit', edit_restaurant_path(@restaurant)
                %button.btn.btn-danger{:type => "button"}= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' }