<div class="row" id="show-box">
  <div class="col-md-6 col-md-offset-3">
    <div class="box">
      <div class="panel panel-default">
        <% if @restaurant.imageURL.present? %>
          <%= link_to (image_tag @restaurant.imageURL , width: '100%'), @restaurant %>
        <% elsif @restaurant.image.present? %>
          <%= link_to (image_tag @restaurant.image.url(:small) , width: '100%'), @restaurant %>
        <% else %>
          <%= link_to @restaurant.name, @restaurant %>
        <% end %>
        
        <% if @restaurant.menu_url.present? %>              
          <%= link_to (image_tag @restaurant.menu_url , width: '100%'), @restaurant %>
        <% end %>           
      </div>
      <div class="panel-body">
        <h1>
          <%= @restaurant.name %>
          <% if @restaurant.website.present? %>
            <%= link_to '前往店家網站', @restaurant.website, class: "btn btn-warning"%>
          <% end %>          
        </h1>
        <h4 style='text-align:left;'>
          <%= pluralize(@restaurant.get_likes.size, "") %><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
          <%= @restaurant.comments.count %><i class="fa fa-commenting-o" aria-hidden="true"></i>    
        </h4>
        <h4 class="detail btn-group">
          <%= link_to "讚", like_restaurant_path(@restaurant), method: :get,class: "fa fa-thumbs-o-up btn btn-default" %>
          <%= link_to "收回讚", dislike_restaurant_path(@restaurant), method: :get,class:"fa fa-thumbs-o-down btn btn-default" %>                       
        </h4>                 
        <div class="detail">
          <p>
            <%= @restaurant.address %>
          </p>         
          <p>
            餐廳分類：
            <% @restaurant.categories.each do |category| %> 
              <%= category.name %>
            <% end %>
          </p>         
          <br>    
          <p>
            <%= @restaurant.phone1 %>
          </p>
          <% if @restaurant.phone2.present? %>              
            <p><%= @restaurant.phone2 %></p>
          <% end %>          
          <p>
            <br>備註:
            <br><%= simple_format(@restaurant.note) %>
          </p>                           
        </div>

    <div id="items_wrapper">  
        <p></p>
        

            <table class="table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%= render @restaurant.items %>
              </tbody>
            </table>
       
        <br>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#myModal">新增菜色</button>
        <%= render "items/modalForm" %>  
    </div>

      </div>


        <div id="comments">
            <h3><%= @restaurant.comments.count %> 則留言</h3>
                <table class="table" style="word-break:break-all">
                  <thead>
                    <tr>
                      <th width='100'></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @restaurant.comments %>
                  </tbody>
                </table>
            <!-- <h3>Add a comment:</h3> -->
            <%= render "comments/form" %>
        </div>




      <div>
        <div id="map" style="max-width:100%;height:400px">地圖預留</div>

        <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        </script>      
      </div>
      <div class="btn-group">
          <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-info" %>
          <%= link_to 'Delete', @restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
