<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title" id="exampleModalLabel">New Item</h1>        
      </div>
      <div class="modal-body">
          <%= simple_form_for ([@restaurant, @restaurant.items.build]), html:{multipart: true} do |f| %>
                <div class="panel-body">
                  <%= f.input :name, input_html: { class: 'form-control' } %>
                  <%= f.input :price, input_html: { class: 'form-control' } %>
                  <%= f.input :imageURL, input_html: { class: 'form-control' } %>
                  <%= f.input :note, input_html: { class: 'form-control' } %>
                  <%= f.input :vegetarian, input_html: { class: 'form-control' } %>
                </div>
                             
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= f.button :submit, class: 'btn btn-success' %>
                </div>  
          <% end %>        
      </div>

    </div>
  </div>
</div>